[coverage:run]
omit =
    genai_bench/cli/report.py
    genai_bench/analysis/excel_report.py
    genai_bench/analysis/plot_report.py
    genai_bench/ui/*
    genai_bench/logging.py
    tests/*

[report]
show_missing = True
